body
{
background-image:url(hospital.jpg);
background-repeat:no-repeat;
height:100%;
width:80%;
}

h1{
text-align:center;
color:#330000;
background-color:#CCFFFF;
font-size:50px;
width:130%;
}

.div1{
margin-top:10px;
height:50px;
width:140%;
background-color:pink;
}

.ul1{
margin-top:10px;
padding:3;
}

.li1{
display:inline;
padding:2px;
margin-left:50px;
//margin-top:5px;
margin-bottom:10px;
color:#FFFF33;
font-size:20px;
font-style:bold;
border:2px double #990033;
}

